#header
{
    padding: 10px;
    text-align: right;
    background-color: rgba(161, 138, 20, 0.368);
}

.space 
{
    margin-left: 20px;
}

#footer
{
    padding: 40px;
    background-color: rgb(12, 8, 8);
    color: white;
}
