#header
{
    padding: 10px;
    text-align: right;
    background-color: rgba(216, 179, 235, 0.897);
  
}

.space 
{
    margin-left: 20px;
}

.footer
{
    padding: 40px;
    background-color: rgb(30, 28, 30);
    color: white;
}

#adminHeader
{
    height: 70px;
    background-color: rgb(226, 157, 204);
}

#adminData
{
    display: flex;
    justify-content: space-between;
}
#adminMenu
{
    width: 350px;
    height: 40px;
    background-color: black;
    color: white;
    margin-left: 500px;
    margin-top: 30px;
    text-align: center;
    
}
#adminMenu:hover{
    background-color: blue;
}
#adminContent
{
     padding-left: 30px; 
    width:80%
}
.form{
margin-left: -510px;
}

.menucolor
{
    color: whitesmoke;
   
   
}

#carddata
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

#headerPart
{
    position:sticky;
    top: 0;
    z-index: 1;
}
h5{
    text-align: center;
    justify-content: center;
   margin-top: 20px;
 height: 0px;
}

.icon{
    color: black;

}
.star{
    
    color: rgb(205, 132, 24);
  margin-left: 5px;
}
.theme{
    display: flex;
}
.theme h3{
   
    font-size: 25px;
    margin-top: 120px;
  margin-left: -90px;

   
}
.theme img{
    margin-left: 100px;
}
.me-auto{
        
}
.newpro h2{
    color: rgb(43, 41, 41);
    margin-top: 50px;
}
Button:hover{
    background-color: green;
}
h1{
    text-align: center;
}
.video{
    margin-top: 50px;
}
 